img {
  object-fit: cover;
  opacity: 1;
  width: 60px;
  margin-top: 12px;
  border-radius: 50%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

a {
  background-color: transparent;
}
